.main {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}


.SubmitButton {
  margin-top: 30px;
  background-color: #613285;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.8em;
  font-weight: bold;
  box-shadow: 0 2px #613285;
}
